@if(!success && !error){
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>New Password</mat-label>
    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
      placeholder="New password"
    />
    <mat-icon matSuffix (click)="togglePassword()" class="toggle-password">
      {{ hidePassword ? "visibility_off" : "visibility" }}
    </mat-icon>
    @if(resetForm.get('password')?.hasError('required')){
    <mat-error> Password is required </mat-error>
    } @if(resetForm.get('password')?.hasError('minlength')){
    <mat-error> Minimum 8 characters required </mat-error>
    } @if(resetForm.get('password')?.hasError('passwordStrength')){
    <mat-error> Must contain: letter, number & symbol </mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      [type]="hideConfirmPassword ? 'password' : 'text'"
      formControlName="confirmPassword"
      placeholder="Confirm password"
    />
    <mat-icon
      matSuffix
      (click)="toggleConfirmPassword()"
      class="toggle-password"
    >
      {{ hideConfirmPassword ? "visibility_off" : "visibility" }}
    </mat-icon>
    @if(resetForm.get('confirmPassword')?.hasError('required')){
    <mat-error> Please confirm your password </mat-error>
    } @if(resetForm.hasError('passwordMismatch') &&
    !resetForm.get('confirmPassword')?.hasError('required')){
    <mat-error> Passwords do not match </mat-error>
    }
  </mat-form-field>
  @if(error){
  <div class="error-message">
    {{ error }}
  </div>
  }
  <button
    mat-raised-button
    color="primary"
    class="auth-button full-width"
    [disabled]="resetForm.invalid || loading"
  >
    {{ loading ? "Resetting..." : "Reset Password" }}
  </button>
</form>
} @if(success){
<div class="success-message">
  Password reset successfully.<br />
  <a routerLink="/login" class="redirect-link">Go to Login</a>
</div>
} @if(error){
<div class="error-message">
  {{ error }}
</div>
}
