<div class="charts-container">
  <div class="charts-section-a">
    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title class="title">Income vs Expenses</mat-card-title>
      </mat-card-header>
      <hr class="divider" />
      <mat-card-content>
        <div class="chart-wrapper">
          <canvas
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="'bar'"
          >
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title class="title">Income vs Expenses</mat-card-title>
      </mat-card-header>
      <hr class="divider" />
      <mat-card-content>
        <div class="chart-wrapper">
          <canvas
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="'bar'"
          >
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="charts-section-b">
    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title class="title">Expense Categories</mat-card-title>
      </mat-card-header>
      <hr class="divider" />
      <mat-card-content>
        <div class="chart-wrapper">
          @if(expCategoriesLoading){
          <div class="loading-overlay">
            <mat-spinner diameter="80"></mat-spinner>
          </div>
          } @else if(expCategoriesError){
          <div class="chart-error-message">
            <mat-icon>error_outline</mat-icon>
            {{ expCategoriesError }}
          </div>
          } @else{
          <canvas
            baseChart
            [data]="expenseCategoriesDonutChart"
            [options]="donutChartOptions"
            [type]="'doughnut'"
          >
          </canvas>
          }
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title class="title">User Expenses</mat-card-title>
      </mat-card-header>
      <hr class="divider" />
      <mat-card-content>
        <div class="chart-wrapper">
          @if(userExpensesLoading){
          <div class="loading-overlay">
            <mat-spinner diameter="80"></mat-spinner>
          </div>
          } @else if(userExpensesError){
          <div class="chart-error-message">
            <mat-icon>error_outline</mat-icon>
            {{ userExpensesError }}
          </div>
          } @else{
          <canvas
            baseChart
            [data]="userExpensesDonutChart"
            [options]="donutChartOptions"
            [type]="'doughnut'"
          >
          </canvas>
          }
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title class="title">Income Categories</mat-card-title>
      </mat-card-header>
      <hr class="divider" />
      <mat-card-content>
        <div class="chart-wrapper">
          @if(incomeCategoriesLoading){
          <div class="loading-overlay">
            <mat-spinner diameter="80"></mat-spinner>
          </div>
          } @else if(incomeCategoriesError){
          <div class="chart-error-message">
            <mat-icon>error_outline</mat-icon>
            {{ incomeCategoriesError }}
          </div>
          } @else{
          <canvas
            baseChart
            [data]="incomeCategoriesDonutChart"
            [options]="donutChartOptions"
            [type]="'doughnut'"
          >
          </canvas>
          }
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title class="title">Income Sources</mat-card-title>
      </mat-card-header>
      <hr class="divider" />
      <mat-card-content>
        <div class="chart-wrapper">
          @if(incomeSourcesLoading){
          <div class="loading-overlay">
            <mat-spinner diameter="80"></mat-spinner>
          </div>
          } @else if(incomeSourcesError){
          <div class="chart-error-message">
            <mat-icon>error_outline</mat-icon>
            {{ incomeSourcesError }}
          </div>
          } @else{
          <canvas
            baseChart
            [data]="incomeSourcesDonutChart"
            [options]="donutChartOptions"
            [type]="'doughnut'"
          >
          </canvas>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
