<div class="charts-container">
  <mat-card class="chart-card">
    <mat-card-header>
      <mat-card-title class="title">Income vs Expenses</mat-card-title>
    </mat-card-header>
    <hr class="divider" />
    <mat-card-content>
      <div class="chart-wrapper">
        <canvas
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="'bar'"
        >
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="chart-card">
    <mat-card-header>
      <mat-card-title class="title">Expense Categories</mat-card-title>
    </mat-card-header>
    <hr class="divider" />
    <mat-card-content>
      <div class="chart-wrapper">
        @if(expCategoriesLoading){
          <div class="loading-overlay">
          <mat-spinner diameter="50"></mat-spinner>
          </div>
        }
        @else{
        <canvas
          baseChart
          [data]="expenseCategoriesPieChart"
          [options]="pieChartOptions"
          [type]="'pie'"
        >
        </canvas>
      }
      </div>
    </mat-card-content>
  </mat-card>
</div>
