<div class="forgot-back-btn">
  <button mat-icon-button (click)="goBack()" aria-label="Back to Login">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
@if (!sent) {
<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email or Username</mat-label>
    <input
      matInput
      formControlName="emailOrUsername"
      placeholder="Enter your email or username"
    />
    @if (forgotForm.get('emailOrUsername')?.hasError('required')) {
    <mat-error> Required </mat-error>
    }
  </mat-form-field>
  @if(error){
  <div class="error-message">
    {{ error }}
  </div>
  }
  <button
    mat-raised-button
    color="primary"
    class="auth-button full-width"
    [disabled]="forgotForm.invalid || loading"
  >
    {{ loading ? "Sending..." : "Send Password Reset Link" }}
  </button>
</form>
}@else {
<div class="success-message">
  Password reset link sent! Please check your email.
</div>
}
<router-outlet></router-outlet>
