<div class="time-range-filter-container mat-elevation-z1">
  <form [formGroup]="form" class="time-range-filter-form">    
    <mat-form-field appearance="outline" class="range-select">
      <mat-label>Granularity</mat-label>
      <mat-select formControlName="granularity">
        <mat-option *ngFor="let option of granularities" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="range-select">
      <mat-label>Time Range</mat-label>
      <mat-select formControlName="range">
        <mat-option *ngFor="let option of timeRanges" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="custom-dates" *ngIf="showCustom()">
      <mat-form-field appearance="outline" class="date-field">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="start" placeholder="MM/dd/yyyy" />
        <mat-datepicker-toggle
          matSuffix
          [for]="startPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <span class="to-label">to</span>
      <mat-form-field appearance="outline" class="date-field">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="end" placeholder="MM/dd/yyyy" />
        <mat-datepicker-toggle
          matSuffix
          [for]="endPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <span class="spacer"></span>
    <button mat-button type="button" color="primary" class="clear-btn" (click)="clear()">
      Reset
    </button>
  </form>
</div>
